/* Form Register */
.logo-flit {
  margin-top: -8px;
  margin-left: 144px;
}

.card {
  border-width: 2px;
  border-color: white;
  margin: 0% 30% 0% 30%;
  padding: 3% 0% 3% 0%;
  border-radius: 5%;
}

.form-label {
  padding: 20px 0px 10px 0px;
  margin: 20px -200px 10px 0px;
  border-radius: 10%;
  /* width: 500px; */
  height: 23px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #2663ff;
}

.btn-md-login {
  background: #2663ff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 194.35px;
  height: 42px;
  margin-left: 50px;

}
.btn-md {
  background: #2663ff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 194.35px;
  height: 42px;
  margin-left: 150px;
  margin-top: 75px;
}
/* End Form */